/* Store this code in 'style.css' file inside the 'static' folder*/

body {
   
    min-height: 100vh;
    font-family: Arial, sans-serif;  
    background: rgb(3,6,55);
    background: linear-gradient(90deg, rgba(3,6,55,1) 0%, rgba(60,7,83,1) 57%, rgba(114,4,85,1) 100%);
}

header {
    color: #1e1b1b;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    
    font-weight: bold;
}

.login-form {
    background: #ffffff80;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    font-style: oblique;
    width: 500px;
    margin: 50px auto;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

button {
    
    background-color: #030637;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.new-user {
    text-align: right;
    font-size: 0.9em;
}

.new-user a {
    color: #101d49;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.new-user a:hover {
    text-decoration: underline;
}
h1{
    font-family:Verdana;
    font-style: normal;
    color: #030637;
    text-align: center;
}
