<!DOCTYPE html>
<html>
  <head>
    <!-- TITLE, DESC, CHARSET, VIEWPORT -->
    <title>PY Calendar</title>
    <meta charset="utf-8">
    <meta name="description" content="Offline Javascript Calendar App">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">
    <link rel="stylesheet" type="text/css" href="{{ url_for('calendar.static', filename='calendar/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('calendar.static', filename='calendar/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('calendar.static', filename='calendar/fonts/iconic/css/material-design-iconic-font.min.css') }}">
<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="{{ url_for('calendar.static', filename='calendar/css/calendar.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('calendar.static', filename='calendar/css/main.css') }}">
    <!-- STYLESHEET + JAVASCRIPT -->
    <script defer src="{{ url_for('calendar.static', filename='calendar/js/calendar.js') }}"></script>
  </head>
  <body>
    <div class="limiter" id="calWrap">
    <!-- (A) PERIOD SELECTOR -->
    <div id="calHead">
      <div id="calPeriod">
        <input id="calToday" type="button" value="&#9733;">
        <input id="calBack" type="button" value="&lt;">
        <select id="calMonth"></select>
        <input id="calYear" type="number">
        <input id="calNext" type="button" value="&gt;">
      </div>
      <input id="calAdd" type="button" value="+">
    </div>

    <!-- (B) CALENDAR WRAPPER -->
    <div id="calWrap">
      <div id="calDays"></div>
      <div id="calBody"></div>
    </div>

    <!-- (C) EVENT FORM -->
    <dialog id="calForm"><form method="dialog" class='login100-form validate-form'>
      <div id="evtCX">X</div>
      <h2 class="evt100">CALENDAR EVENT</h2>
      <div class="evt50">
        <label>Start</label>
        <input id="evtStart" type="datetime-local" required>
      </div>
      <div class="evt50">
        <label>End</label>
        <input id="evtEnd" type="datetime-local" required>
      </div>
      <div class="evt50">
        <label>Text Color</label>
        <input id="evtColor" type="color" value="#000000" required>
      </div>
      <div class="evt50">
        <label>Background Color</label>
        <input id="evtBG" type="color" value="#ffdbdb" required>
      </div>
      <div class="evt100">
        <label>Event</label>
        <input id="evtTxt" type="text" required>
      </div>
      <div class="evt100">
        <input type="hidden" id="evtID">
        <input type="button" id="evtDel" value="Delete">
        <input type="submit" id="evtSave" value="Save">
      </div>
    </form></dialog>
  </div>
  </body>
</html>