<html>
<head>
    <title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/util.css">
    <link rel="stylesheet" type="text/css" href="static/css/profile.css">
</head>
<body>
	<div class="container">
        <div class="main-body">
              <div class="row gutters-sm">
                
                <div class="col-md-8" style="margin-left: 15%;">
                  <div class="card mb-3" style="height: 100%;">
                    <div class="wrap-login100">
                        <div class="card-body">
                            <div class="row">
                              <div class="col-sm-3" style="padding-top: 15px;">
                                <h6 class="mb-0">New Password</h6>
                              </div>
                              <div class="col-sm-9 text-secondary" style="padding-left: 0px;">
                                <input class="input100" type="text" name="password" placeholder="New Password">
                                <span class="focus-input100" data-placeholder="&#xf2be;"></span>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3" style="padding-top: 15px;">
                                <h6 class="mb-0">Confirm Password</h6>
                              </div>
                              <div class="col-sm-9 text-secondary" style="padding-left: 0px;">
                                <input class="input100" type="text" name="confirm" placeholder="Confirm Password">
                                <span class="focus-input100" data-placeholder="&#xf2be;"></span>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-12">
                                  <div class="container-login100-form-btn">
                                      <a class="login100-form-btn" target="__blank" href="profile.html">Save</a>
                                  </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>

  <script src="static/js/profile-edit.js"></script>
</body>

</html>