<html>
<head>
    <title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('profile.static', filename='profile/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('profile.static', filename='profile/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('profile.static', filename='profile/fonts/iconic/css/material-design-iconic-font.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('profile.static', filename='profile/css/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('profile.static', filename='profile/css/util.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('profile.static', filename='profile/css/profile.css') }}">
</head>
<body>
	<div class="container">
        <div class="main-body">
              <div class="row gutters-sm">
                
                <div class="col-md-8" style="margin-left: 15%;">
                  <div class="card mb-3" style="height: 100%;">
                    <div class="wrap-login100">
                        <div class="card-body">
                          <div class="col-sm-3" style="padding-top: 15px;">
                            <h6 class="mb-0">{{msg}}</h6>
                          </div>
                            <div class="row">
                              <div class="col-sm-3" style="padding-top: 15px;">
                                <h6 class="mb-0">Full Name</h6>
                              </div>
                              <div class="col-sm-9" style="padding-left: 0px;">
									              <input class="input100" type="text" name="fullname" placeholder="Full Name">
									              <span class="focus-input100" data-placeholder="&#xf207;"></span>
								              </div>
                              </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3" style="padding-top: 15px;">
                                <h6 class="mb-0">Email</h6>
                              </div>
                              <div class="col-sm-9 text-secondary" style="padding-left: 0px;">
                                <input class="input100" type="text" name="email" placeholder="Email Address">
                                <span class="focus-input100" data-placeholder="&#xf15a;"></span>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3" style="padding-top: 15px;">
                                <h6 class="mb-0">Phone</h6>
                              </div>
                              <div class="col-sm-9 text-secondary" style="padding-left: 0px;">
                                <input class="input100" type="text" name="phone" placeholder="Phone Number">
                                <span class="focus-input100" data-placeholder="&#xf2be;"></span>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3" style="padding-top: 15px;">
                                <h6 class="mb-0">Date of Birth</h6>
                              </div>
                              <div class="col-sm-9 text-secondary" style="padding-left: 0px;">
                                <input class="input100" type="date" name="dob" placeholder="Date of Birth">
                                <span class="focus-input100" data-placeholder="&#xf32e;"></span>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3" style="padding-top: 15px;">
                                <h6 class="mb-0">Address</h6>
                              </div>
                              <div class="col-sm-9 text-secondary" style="padding-left: 0px;">
                                <input class="input100" type="text" name="address" placeholder="Full Address">
                                <span class="focus-input100" data-placeholder="&#xf1ab;"></span>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3" style="padding-top: 15px;">
                                <h6 class="mb-0">Website</h6>
                              </div>
                              <div class="col-sm-9 text-secondary" style="padding-left: 0px;">
                                <input class="input100" type="text" name="website" placeholder="Your Website">
                                <span class="focus-input100" data-placeholder="&#xf2a5;"></span>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3" style="padding-top: 15px;">
                                <h6 class="mb-0">Github</h6>
                              </div>
                              <div class="col-sm-9 text-secondary" style="padding-left: 0px;">
                                <input class="input100" type="text" name="github" placeholder="Github ID">
                                <span class="focus-input100" data-placeholder="&#xf345;"></span>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3" style="padding-top: 15px;">
                                <h6 class="mb-0">Twitter</h6>
                              </div>
                              <div class="col-sm-9 text-secondary" style="padding-left: 0px;">
                                <input class="input100" type="text" name="twitter" placeholder="Twitter ID">
                                <span class="focus-input100" data-placeholder="&#xf360;"></span>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3" style="padding-top: 15px;">
                                <h6 class="mb-0">Instagram</h6>
                              </div>
                              <div class="col-sm-9 text-secondary" style="padding-left: 0px;">
                                <input class="input100" type="text" name="instagram" placeholder="Instagram ID">
                                <span class="focus-input100" data-placeholder="&#xf34f;"></span>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3" style="padding-top: 15px;">
                                <h6 class="mb-0">Facebook</h6>
                              </div>
                              <div class="col-sm-9 text-secondary" style="padding-left: 0px;">
                                <input class="input100" type="text" name="facebook" placeholder="Facebook ID">
                                <span class="focus-input100" data-placeholder="&#xf343;"></span>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3" style="padding-top: 15px;">
                                <h6 class="mb-0">Profile Image</h6>
                              </div>
                              <div class="col-sm-9 text-secondary" style="padding-left: 0px;">
                                <div class="profile-pic">
                                  <label class="-label" for="file">
                                    <span ></span>
                                    <span>Change Image</span>
                                  </label>
                                  <input id="file" type="file" onchange="loadFile(event)"/>
                                  <img src="{{profile_pic}}" id="output_img" width="200" />
                                </div>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-12">
                                  <div class="container-login100-form-btn">
                                      <a class="login100-form-btn" target="__blank" href="{{url_for('profile.profile')}}">Save</a>
                                  </div>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>

  <script src="static/js/profile-edit.js"></script>
</body>

</html>